openapi: 3.1.0
info:
  title: GitHub API Proxy - Actions Management
  description: Proxy API for managing GitHub Actions workflows, runs, logs, and artifacts.
  version: 1.0.0
  contact:
    name: Support
    email: mail@benedikt-eickhoff.de
servers:
  - url: https://actions.pm.fountain.coach
    description: Proxy server for GitHub Actions API.

paths:
  /repos/{owner}/{repo}/actions/workflows:
    get:
      operationId: listWorkflows
      summary: List Workflows
      description: Retrieves a list of workflows for the specified repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of workflows retrieved successfully.
        '401':
          description: Unauthorized.

  /repos/{owner}/{repo}/actions/workflows/{workflow_id}:
    get:
      operationId: getWorkflow
      summary: Get Workflow Details
      description: Retrieves details of a specific workflow.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: workflow_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Workflow details retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Workflow not found.

  /repos/{owner}/{repo}/actions/runs:
    get:
      operationId: listWorkflowRuns
      summary: List Workflow Runs
      description: Retrieves a list of workflow runs for the repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of workflow runs retrieved successfully.
        '401':
          description: Unauthorized.

  /repos/{owner}/{repo}/actions/runs/{run_id}:
    get:
      operationId: getWorkflowRun
      summary: Get Workflow Run Details
      description: Retrieves details of a specific workflow run.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Workflow run details retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Workflow run not found.

  /repos/{owner}/{repo}/actions/runs/{run_id}/logs:
    get:
      operationId: downloadWorkflowLogs
      summary: Download Workflow Logs
      description: Downloads the logs for a specific workflow run.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Logs downloaded successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Logs not found.

components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

